# Gradle
.gradle/
build/
app/build/

# Local configuration file (contains SDK dir and local overrides)
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild
.cxx

# Keystores
*.jks
*.keystore

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
